* {
    -fx-primary : #27323a;
    -fx-secondary : #29a19c;
    -fx-primarytext : #EFB0A1;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
	-fx-buttonColor:#3a506b;
	-fx-textFieldColor:#435055;
	-fx-textFieldFill:#FFFF8D;
	-fx-buttonTextColor:#FFFF8D;
	
}

.root{
  -fx-background-color: -fx-primary;
}

.button{
	
  -fx-background-color:  -fx-textFieldColor;
  -fx-text-fill: -fx-buttonTextColor;
  -fx-border-color: -fx-buttonTextColor;
}

.button:hover{
	-fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}
	

.text-field
{
    -fx-text-fill: -fx-textFieldFill;
    -fx-font-size : 12pt;
    -fx-focus-color: -fx-primarytext;
	-fx-background-color: -fx-textFieldColor;
}

.glyph-icon
{
    -fx-fill: -fx-primarytext;
}

.tab{
    -fx-background-color: -fx-primary;
	-fx-border-radius: 10px;
    -fx-background-radius: 10px;
	-fx-border-color: -fx-buttonTextColor;
	-fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.tab:selected{
	-fx-border-color: #a3f7bf;
}


.tab-header-background{
    -fx-background-color: -fx-textFieldColor;
}



.tab-label{
    -fx-text-fill: -fx-buttonTextColor;
	-fx-background-color: -fx-primary;
    -fx-font-size: 10pt; 
}


.list-view{
    -fx-background-color: derive(-fx-primary, 10%);
    -fx-font-size: 16px; 
    -fx-border-color: derive(-fx-secondary, -60%);
}

.list-view .list-cell:even {
-fx-background-color: -fx-textFieldColor;
-fx-text-fill: -fx-buttonTextColor;
}
.list-view .list-cell:odd {
-fx-background-color: -fx-primary;
-fx-text-fill: -fx-buttonTextColor;
}


.my-icon {
 -fx-background-color: green;
}

.roundButton{
	
  -fx-background-color:  -fx-textFieldColor;
  -fx-text-fill: -fx-buttonTextColor;
  -fx-border-color: -fx-buttonTextColor;
  -fx-border-radius: 20px;
  -fx-background-radius: 20px;
}